<div class="row">
 
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Setting Up Pythnon Environment </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Types and Variables</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Python Data Structures</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Python Functions</td></tr>
      <tr> <td>16:00</td>  <td>Object-Oriented Programming in Python</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  
  <div class="col-md-4">
    <h3> Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Python Fundamentals</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Basic Types and Variables</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> Python Data Structures</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td> </td> Python Functions</tr>
     <tr> <td>16:00</td>  <td> Object Oreineted In Python</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
 </div>
 <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Fundamentals of Deep Learning: Fundamentals and Applications</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2-3: Deep Learning Frameworks and ANN </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 4: Introduction to Convolutional Neural Networks (CNN)</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 5: Recurrent Neural Network (RNN) Basics</td> </tr>
      <tr> <td>16:00</td>  <td>Session 6: Long Short-Term Memory (LSTM) Networks</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1-2: Resampling and Feature Engineering for Time Series</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 3: Data Windowing and Dataset Preparation</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 4: Autocorrelation Analysis and Cross Validation</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td> Session 5: Recurrent Neural Network Models for Time Series Forecasting</td> </tr>
     <tr> <td>16:00</td>  <td> Session 6: Single Step Forecasts</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Session 1: Advanced Recurrent Neural Network Models</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 2: Multi-Step Forecasts</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 3: Hyperparameter Tuning and Optimization</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
     <tr> <td>16:00</td>  <td>Session 4-6: Hands-on Projects with Advanced Time Series Forecasting Techniques</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up and Future Directions</td> </tr>
    </table>
  </div>
</div>
