<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Setting Up Pythnon Environment </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Types and Variables</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Python Data Structures</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Python Functions</td></tr>
      <tr> <td>16:00</td>  <td>Object-Oriented Programming in Python</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3> Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to Numpy</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>NumPy Arrays and Basics</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>NumPy Array Operations and Broadcasting</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td> </td>NumPy Universal Functions and Aggregations</tr>
     <tr> <td>16:00</td>  <td> Analyzing data with Numpy</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
 </div>
 <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data Preparocessing with Pandas</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Data wrengling with Pandas </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Data analysis with Pandas</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Visualizing Tabular Data</td> </tr>
      <tr> <td>16:00</td>  <td>Advanced functions with Pandas</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
   </div>
  <div class="col-md-4">
    <h3>Day 4 </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>matplotlib Basics</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td>Session 1: Introduction to Data Visualization</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Session 2: Customizing Plots and Adding Interactivity</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:00</td>  <td>Session 3: Advanced Plotting Techniques</td> </tr>
      <tr> <td>16:00</td>  <td>Session 4: Best Practices for Data Visualization</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
 <div class="col-md-4">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> Scipy Basic </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td></tr>
      <tr> <td>11:00</td>  <td>Sparse Arrays in SciPy</td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td></tr>
      <tr> <td>13:00</td>  <td>Sparsity Structure Visualization</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Image manipulation and processing using NumPy and SciPy</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up and Future Directions</td> </tr>
    </table>
  </div>
</div>
