<div class="row">
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Basic of Python Programming</h3>
    <ul>
      <li>Setting Up Pythnon Environment </li>
      <li>The scientific Python ecosystem</li>
      <li>Python Types and Variables</li>
      <li>Python Data Structures</li>
      <li>Object-Oriented Programming in Python</li>
   <li><a href="https://mesfind.github.io/python-basic/01-basic/">Reference...</a></li>
    
   </ul>
    </div>
  
    <div class="col-md-3">
    <h3 id="syllabus-r">Introduction to Numpy</h3>
    <ul>
      <li>NumPy Arrays and Basics</li>
      <li>NumPy Array Operations and Broadcasting</li>
      <li>Evaluation Metrics and Model Selection </li>
      <li>NumPy Universal Functions and Aggregations</li>
      <li>Vectorization with numpy </li>
      <li>Analyzing data with Numpy</li>
    <li><a href="https://mesfind.github.io/python-basic/04-numpy/">Reference...</a></li>
    </ul>
    </div>
  
    <div class="col-md-3">
    <h3 id="syllabus-r">Pandas DataFrames</h3>
    <ul>
      <li>Data wrengling with Pandas</li>
      <li>Data analysis with Pandas</li>
      <li>Visualizing Tabular Data</li>
      <li>Advanced functions with Pandas</li>
      
     <li><a href="https://mesfind.github.io/python-basic/05-data-frames/">Reference...</a></li>
    </ul>
   </div>
  <div class="col-md-3">
    <h3 id="syllabus-shell">Visualization with Matplotlib</h3>
    <ul>
      <li> Introduction to Data Visualization </li>
        <li>Matplotlib Basics</li>
        <Li>Simple line plots</li>
        <li>Simple scatter plots</li>
        <li> Visualiing errors</li>
        <li>Density and Contour plots</li>
        <li> Historgrams, binnings, and density</li>
        <li> Customizing plots</li>
        <li> Multiple subplots </li>
        <li>Three-Dimensional Plotting in Matplotlib</li>
        <li>Geographic Data with Basemap</li>
      <li><a href="https://mesfind.github.io/python-basic/08-matplotlib/">Reference...</a></li>
       </ul>
     </div>
  <!--
    <div class="col-md-4">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
  
</div>
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
-->
</div>
 
