<div class="row">
  
  <div class="col-md-3">
    <h3 id="syllabus-r">Basic of Python Programming</h3>
    <ul>
      <li>Setting Up Pythnon Environment </li>
      <li>The scientific Python ecosystem</li>
      <li>Python Types and Variables</li>
      <li>Python Data Structures</li>
      <li>Object-Oriented Programming in Python</li>
  
    
   </ul>
    </div>
  
    <div class="col-md-3">
    <h3 id="syllabus-r">Machine Learning Fundamentals</h3>
    <ul>
      <li>Overview of Machine Learning Concepts</li>
      <li>Types of Machine Learning Algorithms</li>
      <li>Evaluation Metrics and Model Selection </li>
      <li>Supervised  Learning</li>
      <li>Unsupervised Learning</li>
      <li>Ensemble Learning Techniques  </li>
      <li>Hyperparameter Tuning and Optimization</li>
      <li> Model Interpretability and Visualization </li>
    </ul>
    </div>
  
    <div class="col-md-3">
    <h3 id="syllabus-r">Deep Learning Models</h3>
    <ul>
      <li>Introduction to machine learning</li>
      <li> Fundamentals of Deep Learning</li>
      <li> Deep Learning Frameworks</li>
      <li> Introduction to Artificial Neural Networks (ANN)</li>
      <li> Introduction to Convolutional Neural Networks (CNN)</li>
      <li> Transfer learning with CNN</li>
      <!--
     <li><a href="https://mesfind.github.io/Rmanual/data-analysis-with-r.html">Reference...</a></li> -->
    </ul>
   </div>
  <div class="col-md-3">
    <h3 id="syllabus-shell"> Time Series Analysis and Forecasting</h3>
    <ul>
      <li> Resampling  and Feature Engineering Techniques </li>
        <li> Data Windowing and Making Datasets</li>
        <Li> Recurrent Neural Network Models for Time Series Forecasting</li>
        <li>Recurrent Neural Network Models: LSTM, GRU, TFT</li>
        <li> Single Step Forecasts</li> 
        <li>Multi Step Forecasts </li>
      
      <!--
     <li><a href="https://mesfind.github.io/Rmanual/manuscript-preparation-with-rmarkdown-in-r.html">Reference...</a></li>
   --> </ul>
  </div>
  <!--
  <div class="col-md-4"><div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-r">Advanced Techniques in Time Series Forecasting</h3>
    <ul>
      <li>Recurrent Neural Network Models for Time Series Forecasting: LSTM, GRU, TFT</li>
      <li>Multi Step Forecasts </li>
      <li>Hands-on Projects with Advanced Time Series Forecasting Techniques</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
    <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
  
</div>
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
-->
</div>
 
